
.list-container {
    border: 2px solid #a20f41;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(162, 15, 65, 0.3);
  }
  
  .list-title {
    text-align: center;
    color: #a20f41;
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .list-item {
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: rgba(162, 15, 65, 0.04);
  }
  
  .list-item-text {
    color: #a20f41;
  }
  