.emotion-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.emotion-card {
  width: 150px;
  padding: 5px;
  margin: 4px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.emotion-card h3 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.emotion-card p {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.emotion-card.happy {
  background-color: #ffeb3b;
  color: #fff;
}

.emotion-card.sad {
  background-color: #4fc3f7;
  color: #fff;
}

.emotion-card.scared {
  background-color: #ff8a80;
  color: #fff;
}

.emotion-card.angry {
  background-color: #e57373;
  color: #fff;
}

.emotion-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
