/* Estilos para el formulario de perfil de estudiante */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #4A90E2;
  text-align: center;
  margin-top: 20px;
  
}

.lineaHr {
  border: 0;
  height: 2px;
  background: #4A90E2;
  margin: 12px auto;
  width: 80%;
  display: flex;
  margin-left: 10px;
  margin-bottom: 5%;
}

.student-form-container {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 18%;
}

.LetrasPerfil {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
}

.student-form {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.student-form div {
  flex: 1 1 calc(32% - 10px);
  display: flex;
  flex-direction: column;
}

.student-form label {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #333333;
}

.student-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
}

.student-form input:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

button {
  background-color: #4A90E2;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #357ABD;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .student-form div {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  h2, .LetrasPerfil {
    font-size: 1.5rem;
  }

  button {
    width: 100%;
  }
}