.ContainerLogin {
  display: grid;
  grid-template-columns: 50% 50%;
}
.ContainerImgLogin {
  height: 144%;
  width: 100%;
}
.ContainerLoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-family: sans-serif;
}

.InputsLogin {
  width: 150%;
  padding: 6%;
  border-radius: 25px;
}
.Login_BTN {
  background-color: #47288f;
  color: white;
  border-radius: 25px;
  width: 166%;
  padding: 3%;
  margin-top: 20%;
}
